{% include 'psychotherapy/parts/header.html' %}

<body id="page-top">

    {% load static %} {% include 'psychotherapy/parts/navbar.html' %}

    <!-- Header -->
    <header class="masthead">
        <div class="d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <div id="container">
                    <div id="one" class="mb-5">
                        <img src="{% static '/img/nonny2.jpg' %}" class="box-shadowing" alt="Nonny">
                    </div>
                    <div id="two" class="text-white">
                        <h2 class="mx-auto mb-4">Behöver du prata?</h2>
                        <p>Har du under en kortare eller längre tid känt dig i psykisk obalans?</p>
                        <p>Känner du att du har fastnat i ett känslo-, tanke- eller beteendemönster som du inte trivs med?</p>
                        <p>Upplever du att dina relationer inte fungerar som du skulle önska?</p>
                        <p>Psykodynamisk samtalsterapi kan vara vägen till en mer konstruktiv och välfungerande tillvaro.</p>
                    </div>
                </div>

            </div>
        </div>
    </header>

    {% include 'psychotherapy/parts/footer.html' %}

</body>

</html>