{% include 'psychotherapy/parts/header.html' %}

<body id="page-top">

    {% load static %} {% include 'psychotherapy/parts/navbar.html' %}

    <!-- Header -->
    <header class="masthead">
        <div class="d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <div id="container">
                    {% if front_page %}
                    <div class="text-white">
                        <h2 class="mx-auto mb-4">{{ front_page.title }}</h2>
                        <h6 class="text-white mx-auto mt-2 mb-4">{{ front_page.body }}</h6>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </header>

    {% include 'psychotherapy/parts/footer.html' %}

</body>

</html>